.checks {
    padding: 6px;
}

.green {
    color: green;
}

.button-div {
    display: flex;
    justify-content: flex-end;
}

.description {
    font-style: italic;
}

.accordion-body {
    padding: 8px;
}